.active {
  background: $teal;
  border-radius: 5px;
  color: lighten($khaki, 10%);
}
.active:focus, .active:hover {
  background: darken($teal, 10%);
  text-shadow: none;
}

.comment__div {
  text-align: left;
}

.comment__head--author {
  color: darken($teal, 10%);
}
