.eventTile__a--eventURL{
  font-style: bolder;
  transition: 0.3s;
  margin-top:2rem;
}

.active,
.eventTile__a--eventURL:active,
.eventTile__a--eventURL:focus,
.eventTile__a--eventURL:hover {
  color: white;
  background: lighten($khaki, 10%);
}

.comment__div {
  text-align: left;
}

.comment__head--author {
  color: darken($teal, 10%);
}

.footer__div {
  margin-top: 5rem;
  position: relative;
}

.footer__ul {
  background: lighten($red, 0%);
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  width: 100vw;
  padding: 0 2.5vw;
}

.footer__li--link {
  transition: 0.3s;
  a {
    font-size: $footerSize;
    color: white;
    padding: 1.5rem;
    transition: 0.3s;
  }
}

.footer__li--link a:active,
.footer__li--link a:focus,
.footer__li--link a:hover {
  background: $khaki;
}

.header__div {
  margin-bottom: 5vh;
  min-height: 150px;
  position: relative;
}

.header__img--logo {
  float: left;
  margin: 2rem 25rem 10rem 0;
  transform: rotate(-45deg);
}

.header__head--brand {
  color: white;
  text-shadow: 2px 2px $teal;
  text-transform: lowercase;
  font-style: oblique;
  transition: 0.3s;
}

.header__head--brand:hover {
  transform: scale(1.05)
}

.header__head--brand,
.header__span--tagline {
  margin: 0;
  position: absolute;
  z-index: 1;
}

.header__span--tagline {
  text-shadow: 0px 0px black;
  position:absolute;
  bottom: -15%;
  color: black;
  right: 0;
  text-transform: lowercase;
}

button,
.login__a--login,
.login__a--logout {
  background: white;
  box-shadow: 1px 1px 3px grey;
  border-radius: 50px;
  margin: 1rem;
  padding: 1rem 5rem;
  font-style: bolder;
  text-transform: uppercase;
  transition: 0.2s;
}

button:active,
button:focus,
button:hover,
.login__a--login:active,
.login__a--login:focus,
.login__a--login:hover,
.login__a--logout:active,
.login__a--logout:focus,
.login__a--logout:hover, {
  background: lighten($orange, 5%);
  outline: none;
}

// a, button, input, p, select, span, textarea {
//   margin: 1rem;
// }

// a, input, p, select, span {
//   padding: 1rem;
// }

a {
  color: black;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}


input, select, option, textarea {
  border: 1px solid $red;
  border-radius: 5px;
  outline:none;
}
