.eventTile__div {
  float: left;
  margin: 1rem;
  width: calc((100% / 3) - 2rem);
  height: 790px;
  transition: all 0.2s;
  background: white;
  border-radius: 1rem;
  border: 0.5rem solid white;
  position: relative;

  h3 {
    margin-bottom: 0;
  }
}

.going {
  border: 0.5rem solid $orange;
}

.invited {
  border: 0.5rem solid $teal;
}


.specific {
  float: none;
  width: 50%;
  min-width: 500px;
  height: auto;
  margin: 0 auto;
}

.eventTile__div:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.eventTile__figure{
  position: relative;
}

.eventTile__figure img{ 
  background: linear-gradient(180deg,black, transparent);
  width: 100%;
  height: 225px;
  position: relative;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.eventTile__figure
figcaption{
  position: absolute;
  top: 32%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
}

.eventTile__figure {
  img {
    transition: 0.3s;
  }
  figcaption a {
    color: #fff;
    border: 2px solid white;
    padding: 5px 10px;
    background: $red;
  }
}

.eventTile__figure:hover img {
    opacity: 0.25;
}
 
.eventTile__figure:hover  figcaption{
    opacity: 1;
}

// this ticketmaster link will only apear on mobile
.eventTile__a--eventURLMobile{
  display: none;
}

.eventTile__button--eventPage,
.eventTile__button--addEvent,
.eventTile__button--acceptInvite,
.eventTile__button--declineInvite{
  position:absolute;
  bottom: 20px;  
  left:50%;
  transform: translateX(-57.5%);
  padding: 1rem;
  width:15rem;
}

.eventTile__button--acceptInvite{
  bottom: 85px;  
}

@media (max-width: 1080px) {

  .eventTile__button--leaveEvent{
    position:absolute;
    bottom: -10%;  
    left:50%;
    transform: translateX(-55%);
    padding: 1rem;
    width:15rem;
  }
}

@media (max-width: 920px) {
  .eventTile__div {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 720px) {
  .eventTile__div {
    width: calc(100% - 2rem);
    height: 790px;
  }
  .eventTile__figure img {
    height: 275px;
  }
  .specific {
    min-width: auto;
  }
}

@media (max-width: 500px) {
  .eventTile__figure img {
    height: 175px;
  }
}

  // displays the link for ticketmaster as part of the paragraph on mobile (so that no hover state is needed to display all content)
  .eventTile__a--eventURLMobile{
    display: block;
      color: $red;
  }

  .eventTile__figure figcaption a {
    display: none;
  }
  .eventTile__figure:hover  figcaption {
    opacity: 0;
  }