.eventTile__div {
  float: left;
  padding: 10px;
  width: 33.33%;
  height: 625px;
}

@media (max-width: 920px) {
  .eventTile__div {
    width: 50%;
  }
}

@media (max-width: 620px) {
  .eventTile__div {
    width: 100%;
  }
}