.eventTile__div {
  float: left;
  margin: 1rem;
  margin-bottom: 5%;
  width: calc((100% / 3) - 2rem);
  height: 700px;
  transition: all 0.2s;
}

.eventTile__div:hover {
  box-shadow: 2px 4px 5px grey;
  border-radius: 10px 10px;
  
}


.eventTile__figure{
  position: relative;
  background: #000;
  border-radius: 10px 10px 0% 0%;
  height: 250px;
}


.eventTile__figure figure img{ 
  background: linear-gradient(180deg,black, transparent);
  max-height:100%;
  position: relative;
  object-fit: fill;
 
}

.eventTile__figure
figcaption{
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
}

.eventTile__figure
figcaption a{
  color: #fff;
  border: 2px solid white;
  padding: 5px 10px;
  background: $red;
}


.eventTile__figure:hover img {
    opacity: 0.25;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
}
 
.eventTile__figure:hover  figcaption{
    opacity: 1;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
}

@media (max-width: 920px) {
  .eventTile__div {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 620px) {
  .eventTile__div {
    width: calc(100% - 2rem);
  }
}