// Colors
$khaki: #bba274;
$orange: #f2a260;
$red: #ba4c53;
$teal: #5d8e7d;

// Type
$headingFont: 'Roboto', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

$headingSize1: calc(5.6rem + (40 - 5.6) * ((100vw - 300px) / (1600 - 300)));
$headingSize2: calc(1.8rem + (2.7 - 1.8) * ((100vw - 300px) / (1600 - 300)));
$headingSize3: calc(1.6rem + (2 - 1.6) * ((100vw - 300px) / (1600 - 300)));
$bodySize: calc(1.6rem + (2 - 1.6) * ((100vw - 300px) / (1600 - 300)));
$footerSize: calc(1.4rem + (1.8 - 1.4) * ((100vw - 300px) / (1600 - 300)));

h1, h2, h3 {
  font-family: $headingFont;
}
h1 {
  font-size: $headingSize1;
}
h2 {
  font-size: $headingSize2;
}
h3 {
  font-size: $headingSize3;
}

a, button, input, p, select, span, textarea {
  font-family: $bodyFont;
  font-size: $bodySize;
}

// Layout
html {
  font-size: 62.5%; // 10px
  letter-spacing: 0.09rem;
  line-height: 1.5;
}

body {
  background: $teal;
}

.wrapper {
  // background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: 1rem auto;
  max-width: 1600px;
  min-height: 95vh;
  min-width: 300px;
  padding: 1rem;
  text-align: center;
  width: 95vw;
}

button {
  border: none;
}

input, select, textarea {
  background: rgba(255,255,255,0.7);
}

textarea {
  resize: none;
  width: 90vw;
}

ul {
  list-style: inside none;
  padding-left: 0;
  li {
    display: inline-block;
  }
}
